target 별 데이터 갯수가 불균형한 문제를 수정

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets_fin/train_fix.csv')
df

                        ID  target
0     002f99746285dfdd.jpg      16
1     008ccd231e1fea5d.jpg      10
2     008f5911bfda7695.jpg      10
3     009235e4c9c07af5.jpg       4
4     00b2f44967580c74.jpg      16
...                    ...     ...
1565  fed9e9ec4a77bc06.jpg       4
1566  feeade617aa68c45.jpg       7
1567  ff51dd281a8423f1.jpg      11
1568  ff8a6a251ce51c95.jpg       5
1569  ffc22136f958deb1.jpg       9

[1570 rows x 2 columns]

In [3]:
df['target'].value_counts()

target
10    103
7     101
0     100
12    100
8     100
2     100
16    100
9     100
15    100
5     100
6     100
3      99
4      99
11     97
13     74
14     51
1      46
Name: count, dtype: int64

In [4]:
df_target_0 = df[df['target'] == 0]
df = pd.concat([df, df_target_0.iloc[0:2]], axis=0)
df['target'].value_counts()

target
10    103
0     102
7     101
12    100
8     100
2     100
16    100
9     100
15    100
5     100
6     100
3      99
4      99
11     97
13     74
14     51
1      46
Name: count, dtype: int64

In [5]:
df_target_1 = df[df['target'] == 1]
df = pd.concat([df, df_target_1], axis=0)
df = pd.concat([df, df_target_1.iloc[0:10]], axis=0)
df['target'].value_counts()

target
10    103
1     102
0     102
7     101
12    100
8     100
2     100
16    100
9     100
15    100
5     100
6     100
3      99
4      99
11     97
13     74
14     51
Name: count, dtype: int64

In [6]:
df_target_2 = df[df['target'] == 2]
df = pd.concat([df, df_target_2.iloc[0:2]], axis=0)
df['target'].value_counts()

target
10    103
1     102
0     102
2     102
7     101
12    100
8     100
16    100
9     100
15    100
5     100
6     100
3      99
4      99
11     97
13     74
14     51
Name: count, dtype: int64

In [7]:
df_target_3 = df[df['target'] == 3]
df = pd.concat([df, df_target_3.iloc[0:4]], axis=0)
# df = pd.concat([df, df_target_3], axis=0)
# df = pd.concat([df, df_target_3], axis=0)
# df = pd.concat([df, df_target_3], axis=0)
df['target'].value_counts()

target
10    103
3     103
1     102
0     102
2     102
7     101
12    100
8     100
16    100
9     100
15    100
5     100
6     100
4      99
11     97
13     74
14     51
Name: count, dtype: int64

In [8]:
df_target_4 = df[df['target'] == 4]
df = pd.concat([df, df_target_4.iloc[0:3]], axis=0)
df['target'].value_counts()

target
3     103
10    103
2     102
4     102
1     102
0     102
7     101
12    100
8     100
16    100
9     100
15    100
5     100
6     100
11     97
13     74
14     51
Name: count, dtype: int64

In [9]:
df_target_5 = df[df['target'] == 5]
df = pd.concat([df, df_target_5.iloc[0:2]], axis=0)
df['target'].value_counts()

target
3     103
10    103
2     102
4     102
5     102
1     102
0     102
7     101
12    100
8     100
16    100
9     100
15    100
6     100
11     97
13     74
14     51
Name: count, dtype: int64

In [10]:
df_target_6 = df[df['target'] == 6]
df = pd.concat([df, df_target_6.iloc[0:2]], axis=0)
df['target'].value_counts()

target
10    103
3     103
6     102
4     102
5     102
1     102
0     102
2     102
7     101
8     100
12    100
9     100
15    100
16    100
11     97
13     74
14     51
Name: count, dtype: int64

In [11]:
# df_target_7 = df[df['target'] == 7]
# df = pd.concat([df, df_target_7], axis=0)
# df = pd.concat([df, df_target_7], axis=0)
# df['target'].value_counts()

In [12]:
df_target_8 = df[df['target'] == 8]
df = pd.concat([df, df_target_8.iloc[0:2]], axis=0)
df['target'].value_counts()

target
3     103
10    103
6     102
2     102
4     102
5     102
1     102
0     102
8     102
7     101
12    100
9     100
15    100
16    100
11     97
13     74
14     51
Name: count, dtype: int64

In [13]:
df_target_9 = df[df['target'] == 9]
df = pd.concat([df, df_target_9.iloc[0:2]], axis=0)
df['target'].value_counts()

target
3     103
10    103
6     102
2     102
4     102
5     102
1     102
0     102
9     102
8     102
7     101
12    100
15    100
16    100
11     97
13     74
14     51
Name: count, dtype: int64

In [14]:
df_target_11 = df[df['target'] == 11]
df = pd.concat([df, df_target_11.iloc[0:4]], axis=0)
df['target'].value_counts()

target
3     103
10    103
6     102
2     102
4     102
5     102
1     102
0     102
9     102
8     102
7     101
11    101
12    100
15    100
16    100
13     74
14     51
Name: count, dtype: int64

In [15]:
df_target_12 = df[df['target'] == 12]
df = pd.concat([df, df_target_12.iloc[0:2]], axis=0)
df['target'].value_counts()

target
3     103
10    103
6     102
8     102
4     102
5     102
1     102
0     102
9     102
12    102
2     102
7     101
11    101
15    100
16    100
13     74
14     51
Name: count, dtype: int64

In [16]:
df_target_13 = df[df['target'] == 13]
df = pd.concat([df, df_target_13.iloc[0:28]], axis=0)
df['target'].value_counts()

target
10    103
3     103
6     102
12    102
4     102
5     102
1     102
0     102
9     102
13    102
2     102
8     102
7     101
11    101
15    100
16    100
14     51
Name: count, dtype: int64

In [17]:
df_target_14 = df[df['target'] == 14]
df = pd.concat([df, df_target_14], axis=0)
df['target'].value_counts()

target
3     103
10    103
6     102
4     102
5     102
1     102
14    102
9     102
13    102
0     102
2     102
8     102
12    102
7     101
11    101
15    100
16    100
Name: count, dtype: int64

In [18]:
df_target_15 = df[df['target'] == 15]
df = pd.concat([df, df_target_15.iloc[0:2]], axis=0)
df['target'].value_counts()

target
10    103
3     103
6     102
0     102
4     102
5     102
15    102
14    102
9     102
13    102
1     102
2     102
8     102
12    102
7     101
11    101
16    100
Name: count, dtype: int64

In [19]:
df_target_16 = df[df['target'] == 16]
df = pd.concat([df, df_target_16.iloc[0:2]], axis=0)
df['target'].value_counts()

target
10    103
3     103
16    102
1     102
0     102
12    102
8     102
2     102
6     102
13    102
9     102
14    102
15    102
5     102
4     102
11    101
7     101
Name: count, dtype: int64

In [20]:
df.to_csv('train_fix_imbalance.csv', index=False)

In [21]:
df = pd.read_csv('train_fix_imbalance.csv')
df

                        ID  target
0     002f99746285dfdd.jpg      16
1     008ccd231e1fea5d.jpg      10
2     008f5911bfda7695.jpg      10
3     009235e4c9c07af5.jpg       4
4     00b2f44967580c74.jpg      16
...                    ...     ...
1729  fb70357d03187bf2.jpg      14
1730  00ec594b7cc89183.jpg      15
1731  00fdc02d9b552fe8.jpg      15
1732  002f99746285dfdd.jpg      16
1733  00b2f44967580c74.jpg      16

[1734 rows x 2 columns]

In [22]:
df['target'].value_counts()

target
10    103
3     103
16    102
1     102
0     102
12    102
8     102
2     102
6     102
13    102
9     102
14    102
15    102
5     102
4     102
11    101
7     101
Name: count, dtype: int64